.fiverr-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #013914;
    color: #fff;

    .fiverr-container {
        width: 1440px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;

        .fiverr-navbar-logo {
            font-size: 34px;
            font-weight: bold;

            .fiverr-dot {
                color: #1dbf73;
            }
        }

        .fiverr-navbar-links {
            display: flex;
            align-items: center;
            gap: 24px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;

            button {
                background-color: transparent;
                color: #fff;
                padding: 10px 20px;
                border-radius: 5px;
                border: 2px solid #fff;
            }
        }
    }
}