.fiverr-footer {
    display: flex;
    justify-content: center;
    color: #999;
    margin: 50px 0;

    img {
        width: 24px;
        height: 24px;
    }

    .fiverr-footer-container {
        width: 1400px;

        .fiverr-footer-top {
            display: flex;
            justify-content: space-between;

            .fiverr-footer-top-item {
                display: flex;
                flex-direction: column;
                gap: 20px;

                h2 {
                    font-size: 16px;
                    color: #666;
                }

                span {
                    font-weight: 300;
                }
            }
        }

        hr {
            margin: 50px 0;
            height: 0;
            border: 1px solid rgb(236, 236, 236);
        }

        .fiverr-footer-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .fiverr-footer-bottom-left {
                display: flex;
                align-items: center;
                gap: 20px;

                span {
                    font-size: 13px;
                }
            }

            .fiverr-footer-bottom-right {
                display: flex;
                align-items: center;
                gap: 30px;

                .fiverr-footer-bottom-social-links {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                }
            }

            .fiverr-footer-bottom-links {
                display: flex;
                align-items: center;
                gap: 10px;
            }
        }
    }
}